body{
  background-color: #ffcc00ff;
}

#logo{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#geolocation {
  position: absolute;
  left: 50%;
  top: 90%;
  width: 100%
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 2em;
}
.witopedia-text {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 6em;
}
