body{
  background-color: #ffcc00ff;
  align-items: center;
}

.container{
  position: absolute;
  display: flex;
  top:45%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.container div img {
  width: 190px;
}

#geolocation {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 77%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align:center;
}
.witopedia-text {
  font-family: 'Source Serif Pro', serif;
  font-size: 35px;
  text-align: center;
  margin-top: 0;
}

.texto {
  text-align: center;
  margin: 0;
  padding: 0;
}

#mapa {
  position: fixed;
  text-align: center;

  left: 0;
  margin-bottom:0px;
  padding: 10px;
  bottom: 0;
  width: 100%;
  color:white;
  background-color: #800080;
}

#mapa a{
  color:white;
  text-decoration: none;
}

#lat{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 66%;
  color: green;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align:center;
}

#lng{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 68%;
  color: purple;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align:center;
}
#guardar{
  position: absolute;
  background-color: #F9A825;
  padding-top:35px;
  padding-bottom:35px;
  padding-left:40px;
  padding-right:40px;
  width: 250px;
  left: 50%;
  bottom: 0%;
  color: purple;
  font-weight: bold;
  font-size: 22px;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align:center;

  /* position: fixed;
  width: 200px;
  height: 70px;
  bottom: 5%;
  padding: 10px;
  border: 5px solid #F69DA1;
  background-color: #f2595e; */
}
