body{
  background-color: #ffcc00ff;
}

#logo{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  position: absolute;
  width:300px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#geolocation {
  align-content: #ccc;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align:center;
}

.witopedia-text {
  position: absolute;
  font-family: 'Source Serif Pro', serif;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 35px;
}
